<!DOCTYPE html>
<html>
  <head>
    <title>RedditOnRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <% unless flash[:errors].nil? %>
      <ul>
        <% flash[:errors].each do |error| %>
          <li><%= error  %></li>
        <% end %>
      </ul>
      <br>
    <% end %>

    <%if logged_in? %>
      Logged In As: <%= current_user.username %>
      <br>
      <%= button_to "Log Out", user_url(current_user), method: "delete" %>
    <% end %>
    
    <%= yield %>
  </body>
</html>
