<% action = post.persisted? ? post_url(post) : posts_url %>
<% buton = post.persisted? ? "Update" : "Create" %>

<form action="<%= action %>" method="post">
  <% if post.persisted? %>
    <input type="hidden" name="_method" value="patch">
  <% end %>

  <%= auth_token %>

  <label>
  Title: <br>
  <input type="text" name="post[title]" value="<%=post.title %>">
  </label>

  <br><br>

  <input type="hidden" name="post[sub_ids][]" value="">
  What SubForums Would You Like to Post To? <br>
  <% Sub.all.each do |sub| %>
    <label>
    <input
      type="checkbox"
      name="post[sub_ids][]"
      value="<%=sub.id %>"
      <%= "checked" if post.sub_ids.include?(sub.id) %>
      >
      <%=sub.title%>
      <br>
    </label>
  <% end %>

  <br>
  <label>
  URL: <br>
  <input type="text" name="post[url]" value="<%=post.url %>">
  </label>

  <br><br>

  <label>
  Content: <br>
  <textarea name="post[content]" rows="8" cols="80"><%= post.content %></textarea>
  </label>

  <input type="submit" value="<%= buton %>">

</form>
