<h1><u><%= @post.title %></u></h1>
Made By: <%= @post.author.username %>
<br><br>
<%= @post.content %>

<% if current_user = @post.author %>
  <br>
  ----------------------
  <br>
  <%= button_to "Edit Post", edit_post_url(@post), method: "get" %>
  <%= button_to "Destroy Post", post_url(@post), method: "delete" %>
<% end %>
