<h2> <u><%= @sub.title %></u> </h2>
<h4>Created By: <%=@sub.moderator.username%> </h4>

<p>
Description: <%= @sub.description %>
</p>

<h3>Posts:</h3>
<ul>
<% @sub.posts.each do |post| %>
  <li><%=link_to post.title, post_url(post)%></li>
<% end %>
</ul>

---------------------------
<br>
<% if current_user == @sub.moderator %>
  <%= button_to "Delete This Subform", sub_url(@sub), method: "delete" %>
  <%= link_to "Edit Subforum", edit_sub_url(@sub) %>
  <br>
<% end %>
<%= link_to "Make a Post!", new_post_url(sub_id: @sub.id)%>
